<form>
  <h2 class="mt-0 text-center">Edit Profile</h2>
<mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Domain</mat-label>
    <input matInput placeholder="Domain">
  </mat-form-field>
  <mat-radio-group appearance="outline">
    <mat-label>Gender</mat-label>
    <mat-radio-button value="male">Male</mat-radio-button>
    <mat-radio-button value="female">Female</mat-radio-button>
  </mat-radio-group>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    
    <mat-datepicker-toggle matIconSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
 
  <mat-form-field appearance="outline">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <button mat-raised-button type="submit" class="btn-submit">LOGIN</button>
</form>