
  <mat-toolbar>
    <!-- <div fxHide.gt-xs>
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
    </div> -->
    <div class="container">
        <div>
            <img src="assets/googlePNG5.png" class="logo"/>
        </div>
    
        <div fxFlex fxLayout fxFlex="60" >
            <ul fxLayout="row" fxLayoutGap="15px" class="navigation-items" fxLayoutAlign="space-between center" fxLayoutGap="60">
                <li>
                    <a routerLink="/" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20">
                        <mat-icon>home</mat-icon>Home
                    </a>
                </li>
                <li>
                    <a routerLink="/" fxLayout="row" fxLayoutAlign="center center">
                        <mat-icon>supervisor_account</mat-icon>Trustees
                    </a>
                </li>
                <li>
                    <a routerLink="/" fxLayout="row" fxLayoutAlign="center center">
                        <mat-icon>person</mat-icon>Professionals
                    </a>
                </li>
                <li>
                    <a routerLink="/" fxLayout="row" fxLayoutAlign="center center">
                        <mat-icon>more_horiz</mat-icon>More
                    </a>
                </li>
            </ul>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="end center" fxHide.xs fxFlex="30" fxLayoutGap="30">
            <mat-icon >search</mat-icon>
            <button mat-raised-button class="warn-btn">Invite</button>
            <img src="assets/dr-round-img.png" class="profile"/>
        
        </div>
    </div>
  </mat-toolbar>
 